<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/profile.css">
    <link rel="stylesheet" type="text/css" href="../public/css/modal.css">
    <link rel="stylesheet" type="text/css" href="../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" type="text/css">

    <!-- LIBS CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/libs/hover/hover.css">

    <!-- LIBS JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>

    <title>WB | Profile</title>
</head>
<body>

    <%- include("./partials/simplifiedHeader"); -%>

    <%- include("./partials/accountEditorModal"); -%>

    <main>
        <div class="profile__container">
            <div class="title">
                <h1>Welcome back</h1>
                <span><%= username %></span>
            </div>
            <div class="informations__container">
                <h2>Informations</h2>
                <div class="profile__informations__table">
                    <table>
                        <tbody>
                        <tr>
                            <td>Username</td>
                            <td class="profile__editor"><span><%= username %></span><i id="changeUsernameBtn" class='bx bx-edit'></i></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td class="profile__editor"><span>**********</span><i id="changePasswordBtn" class='bx bx-edit'></i></td>
                        </tr>
                        <tr>
                            <td>Avatar</td>
                            <td class="profile__editor">
                                <div class="avatar__image__container">
                                    <img src="../public/assets/img/avatar/Avatar_<%= avatar %>.png" alt="">
                                </div>
                                <i id="changeAvatarBtn" class='bx bx-edit'></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="profile__logout__container">
                <div class="profile__logout__button">
                    <a href="/api/resetdata"><button class="hvr-grow">Reset your save</button></a>
                    <a href="/logout"><button class="hvr-grow">Logout</button></a>
                </div>
            </div>

        </div>
    </main>

    <%- include("./partials/footer"); -%>

    <script src="./public/js/profile/XMLRequest.js"></script>
    <script src="./public/js/profile/avatarManager.js"></script>
    <script src="./public/js/profile/main.js"></script>
    <% if(!session){ %>
        <script src="./public/js/header/connectionModal.js"></script>
    <% } else { %>
        <script src="./public/js/header/accountModal.js"></script>
    <% } %>

</body>
</html>